<div class="container">
  <h1 class="text-light text-center pt-5">{{ user }}'s TRANSACTIONS</h1>
  <a routerLink="/dashboard">Home</a>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of transaction">
        <td>{{ t.type }}</td>
        <td>{{ t.amount }}</td>
      </tr>
      <tr>
        <td>BALANCE</td>
        <td>{{ balance }}</td>
      </tr>
    </tbody>
  </table>
</div>
